body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}
section {
  background-image: url('imagen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  background-position: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
aside{
  background-color: rgba(7, 7, 7, 0.5);
  border-radius: 7px;
  margin: auto;
}
p{
  color: #ccc;
}
form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
input[type="text"], input[type="submit"] {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  background-color: #15137a;
  color: #fff;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #555;
}
